<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <!-- Root Context (공유되는 객체의 저장소)를 설정하는 파일의 위치를 지정 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/root-context.xml
        </param-value>
    </context-param>
    <!-- Listner:자동실행 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
  
      <!-- Servlet Context(각각 개별적으로 유저에게 지급되는 저장소)를 설정하는 파일의 위치 -->
    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <multipart-config>
            <max-file-size>10485760</max-file-size> <!-- 10MB -->
            <max-request-size>20971520</max-request-size> <!-- 20MB -->
        </multipart-config>
    </servlet>   
    <servlet-mapping> <!-- 모든 요청에 대해서 작동하도록 설정 -->
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>  
    <!-- 인코딩 필터 -->
  	<filter>
  		<filter-name>encodingFilter</filter-name>
  		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  		<init-param>
  			<param-name>encoding</param-name>
  			<param-value>UTF-8</param-value>
  		</init-param>
  	</filter>
  	<filter-mapping>
  		<filter-name>encodingFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
    <!-- 400 Bad Request -->
    <error-page>
        <error-code>400</error-code>
        <location>/errorPage</location>
    </error-page>

    <!-- 401 Unauthorized -->
    <error-page>
        <error-code>401</error-code>
        <location>/errorPage</location>
    </error-page>

    <!-- 403 Forbidden -->
    <error-page>
        <error-code>403</error-code>
        <location>/errorPage</location>
    </error-page>

    <!-- 404 Not Found -->
    <error-page>
        <error-code>404</error-code>
        <location>/errorPage</location>
    </error-page>

    <!-- 500 Internal Server Error -->
    <error-page>
        <error-code>500</error-code>
        <location>/errorPage</location>
    </error-page>

    <!-- 503 Service Unavailable -->
    <error-page>
        <error-code>503</error-code>
        <location>/errorPage</location>
    </error-page>

</web-app>
